html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*Tambahan*/

#menu-a {
    height: 40px;
    background: #c0392b;
    color: white;
    text-align: center;
}

#menu-a .menu-label {
    height: 40px;
    padding-top: 8px;
    background: #e74c3c;
}

#menu-a .menu-button {
    height: 40px;
    display: block;
    padding-top: 8px;
    text-decoration: none;
    color: #fff;
    background: #c0392b;
}
#menu-a .menu-button:hover {
    background: #e67e22;
}



#menu-b {
    background: #34495e;
    color: white;
    padding: 10px 0px;
}
#menu-b .search-dropdown{
    width: 35%;
    float: left;
}
#menu-b .search-text{
    width: 45%;
    float: left;
}
#menu-b .search-button{
    width: 18%;
    float: left;
}
#menu-b .search-text-2{
    float: left;
}